<ion-view view-title="About">
  <ion-content class="padding">
    <h2>Welcome to image-viewer ionic app</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare nisi sit amet velit tristique pretium. Nulla luctus ultricies pharetra. Ut dapibus neque et ipsum congue, vel vulputate leo laoreet.
    </p>

    <p>
    Quisque sit amet nibh risus. Etiam in libero suscipit, mollis enim vel, pretium nisl. Etiam fermentum, leo et finibus interdum, justo tellus porttitor risus, eu pretium nunc nulla in dui.
    </p>

    <p>
    Duis ultrices tempus libero. Phasellus dictum, arcu vitae rhoncus suscipit, est magna auctor mauris, quis viverra nisi erat ut sem.
    </p>
  </ion-content>
</ion-view>
